/* individual elements */
#reviewContainer {
    text-align: center;
}

#heading {
    margin: 15px auto;
    margin-bottom: 20px;
    max-width: 90vw;
}

/* default elements */
body {
    text-align: center;
}

/* classes */
.reviewBox {
    display: block;
    width: 70vw;
    margin: 15px auto;
    border: solid var(--yellow) 2px;
    border-radius: 10px;
    color: var(--text-colour);
    padding: 10px;
}

.reviewBox:hover {
    background-color: var(--yellow);
}

.vertMiddle{
    margin-bottom: 15px;
}