#welcomePage {
    background-image: url(../images/bg.jpg);
}

#fees {
    background-color: var(--green);
}

h1 {
    margin-left: 50px;
    margin-top: 50px;
    z-index: 99;
}

p {
    margin-left: 50px;
}