.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--background-colour);
  z-index:100;
}

.topnav a {
  float:left;
  display: block;
  color: var(--text-colour);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#loginButton {
  float: right;
}

#home:hover {
    background-color: var(--red);
}

#families:hover {
    background-color: var(--yellow);
}

#gallery:hover {
    background-color: var(--green);
}

#contact:hover {
    background-color: var(--blue);
}

#loginButton:hover {
    background-color: var(--purple);
}

#home.active {
    background-color: var(--red);
}

#families.active {
    background-color: var(--yellow);
}

#gallery.active {
    background-color: var(--green);
}

#contact.active {
    background-color: var(--blue);
}

#loginButton.active {
    background-color: var(--purple);
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .topnav a:not(.active) {display: none;}
    .topnav a.anchor-link {
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* .content {
  padding: 16px;
} */