.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--background-colour);
  z-index:100;
}

.topnav a {
  float:left;
  display: block;
  color: var(--text-colour);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#loginButton {
  float: right;
}

.topnav a:hover {
    background-color: var(--yellow);
}

.topnav a.active {
    background-color: var(--yellow);
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 700px) {
    .topnav a:not(.active) {display: none;}
    .topnav a.anchor-link {
        display: block;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* .content {
  padding: 16px;
} */