.topnav {
  position: sticky;
  top: 0;
  overflow: hidden;
  /* overflow: auto; */
  background-color: var(--background-colour);
  z-index:100;
}

.topnav a {
  float:left;
  display: block;
  color: var(--text-colour);
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#menuContainer {
    background-color: var(--background-colour);
}

#menuContainer:hover {
    background-color: var(--orange);
}

#menu {
    color: var(--text-colour);
    float: right;
}

#loginButton {
  float: right;
}

#registerButton {
    float: right;
}

#feedbackButton {
    display: none;
    float:right;
}

#logoutButton {
    display: none;
    float: right;
}

#home:hover {
    background-color: var(--red);
}

#families:hover {
    background-color: var(--yellow);
}

#gallery:hover {
    background-color: var(--green);
}

#contact:hover {
    background-color: var(--blue);
}

#loginButton:hover {
    background-color: var(--purple);
}

#registerButton:hover {
    background-color: var(--pink);
}

#feedbackButton:hover {
    background-color: var(--purple);
}

#logoutButton:hover {
    background-color: var(--pink);
}

#home.active {
    background-color: var(--red);
}

#families.active {
    background-color: var(--yellow);
}

#gallery.active {
    background-color: var(--green);
}

#contact.active {
    background-color: var(--blue);
}

#loginButton.active {
    background-color: var(--purple);
}

.topnav .icon {
    /* font-size: 35px; */
    /* height: 100%; */
    display: none;
    height: 21px;
}

@media screen and (max-width: 500px) { /* change max-width to like something more suitable*/
    .topnav a:not(.active) {display: none;}
    .topnav a.icon {
        display: block;
        float: right;
    }
    
    .topnav.responsive {
        position: relative;
        /* height: 250px;  */
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    #loginButton {
        float: left;
        width: 100%;
    }

    #registerButton {
        float: left;
        width: 100%;
    }
}

/* .content {
  padding: 16px;
} */