@import url("https://fonts.googleapis.com/css?family=Nunito");

:root {
    --background-colour: #F4F4F4;
    --text-colour: #2C2C2C;
    --red:#faaaaa;
    --orange: #ffc78f;
    --yellow: #FDF0AC;
    --green: #b9e7c5;
    --blue: #c7e1f1;
    --purple: #e7cef5;
    --pure-white: #ffffff;
    --grey: #787474;
    --dark-purple: #3A025B;
    --pink: #ffd1df;
    --dark-pink: #fe01b1;
    --light-red: #ffdadb;
    --bright-red: #ff0000;
    --light-green: #d1ffbd;
    --bright-green: #3cb043;
}  