@import url("https://fonts.googleapis.com/css?family=Nunito");

:root {
    --background-colour: #F4F4F4;
    --text-colour: #2C2C2C;
    --red:#faaaaa;
    --green: #A7E4B7;
    /* --yellow: #ffeb6b; */
    --yellow: #FDF0AC;
    --blue: #a8d8ff;
    --purple: #e7cef5;
    --pure-white: #ffffff;
    --grey: #787474;
    --dark-purple: #3A025B;
}  