@import url("https://fonts.googleapis.com/css?family=Nunito");

:root {
    --background-colour: #F4F4F4;
    --text-colour: #2C2C2C;
    --highlight-colour: #e7cef5;
    --navbar-colour: #ffeb6b;
    --gradient-colour: #a8d8ff;
}  