body {
    margin: auto;
    font-family: "Nunito";
    background-color: var(--background-colour);
    color: var(--text-colour);
    /* font-size: 18px;
    width: 100vw;
    height: 100vh; */
    overflow: scroll;
}

.titleText {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

hr {
    color: var(--text-colour);
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero {
    min-height: 100vh;
    /* max-height: 600px; */
    display: flex;
    /* justify-content: left;
    align-items: left; */
    background-size: cover; /* or 100vw*/
    position: relative;
}

.gradient {
    min-height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, var(--blue), transparent);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.left{
    margin-left: 50px;
}

.centreBox{
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    /* font-size: 20px; */
}