body {
    margin: auto;
    font-family: "Nunito";
    background-color: var(--background-colour);
    color: var(--text-colour);
    /* font-size: 18px;
    width: 100vw;
    height: 100vh; */
}

hr {
    color: var(--text-colour);
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero {
    height: 100vh;
    display: flex;
    /* justify-content: left;
    align-items: left; */
    background-size: cover; /* or 100vw*/
    position: relative;
}

.gradient {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, var(--gradient-colour), transparent);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin-left: 50px;
    margin-top: 50px;
    z-index: 99;
}

p {
    margin-left: 50px;
}

.centre{
    justify-content: center;
    /* align-items: center; */
}